body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0,0%, 5%);
}
.calculator{
    font-family:sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    border: none;
    text-align: right;
    color: white;
    background-color: hsl(0, 0%, 20%);
    
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 80px;
    height: 80px;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 3rem;
    background-color: hsl(0, 0%, 30%);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}